*{margin: 0; padding: 0;}
body{font-family: Dotum;}
li{list-style: none;}
a{text-decoration: none;}
img{border: 0;}
a:visited{ color: black; text-decoration: none;}

h1{
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#main_header{
    position: relative;
    height: 45px;
    line-height: 40px;
    padding-left: 10px;
    border-bottom:1px solid black;
    background: white;
    color: white;
    font-weight: bold;
    display: block;
    border-color: lightgray;
}
#main_header a{
    color: black;
}
#nav_header{
    position: relative;
    height: 45px;
    line-height: 50px;
    padding-left: 1px;
    border-bottom:1px solid black;
    background: white;
    color: black;
    font-size : 12px;
}
#nav_header a{
    color: black;
}
#main_header > ul.left{
    overflow: hidden;
    float: left;
    
}

#main_header > ul.center{
    overflow: hidden;
    float: right;
    left: -50%;
}
#main_header > ul.right{
    overflow: hidden;
    float: right;
    left: -50%;
}
#main_header > ul.left > li{float: left; font-size : 20px;}
#main_header > ul.right > li{float: left; font-size: 12px;}
#main_header > ul.center > li{float: left; font-size: 12px;}


#main_gnb a{
    /* 레이아웃 설정 */
    display: block;
    padding: 10px 20px;
    /* 색상 설정 */
    border-left: 1px solid #5F6673;
    border-right:1px solid #242A37;
    border-right:1px solid #242A37;
    color: black;
    font-weight: bold;
}
#main_header a{
    display: block;
    padding: 10px;
}
body{
    min-width: 760px;
    
}

#main_img{
    height: 580px;
    position: relative;
    width: 1280px;
    padding: 0;
    
}
#wrap{
    /* border: solid 5px; */
    overflow: hidden;
    background: white;
    margin: 0 auto;
    margin-left: 250px;
    margin-right: 250px;
    min-width: 1300px;
    
}
#wrap > #main_lnb{
    float: left;
    width: 200px;
   
}
#wrap > #content_wrap{
    float:left;
    width: 100%;
    margin-right: -200px;
}
#warp > #content_warp > #content{padding-right: 200px;}


#main_lnb > ul > li > a{
    display: block;
    height: 40px; line-height: 40px;
    padding-left:15px;

    border-top: 1px;
    border-bottom: 1px ;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

#content{
    background: white;
    border-left: 10px soild black;
}
article{
    padding: 10px;
}
#main_footer{
    padding-right: 250px;
    border-top: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
    min-width: 1300px;
    padding-left: 250px;
    padding-top: 50px;
}
#main_footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

   
}
.footer_line {
    float: left;
    width: 200px;
    
    
  }
.footer_line ul li:first-child{
    padding-bottom: 20px;
    font-size: 16px;
    color: black;
}
.footer_line ul li{
    padding-bottom: 10px;
    font-size: 13px;
    color: lightgray;
}
#footer_gnb{
    
    position: relative;
    height: 110px;
    line-height: 40px;
    padding-left: 250px;
    border-bottom:1px solid black;
    background: black;
    color: white;
    font-weight: bold;
    display: block;
    border-color: lightgray;
    min-width: 1300px;
}
#footer_gnb > ul.left{
    padding-top: 20px;
}
#footer_gnb > ul.left > li{
    float: left; 
    font-size: 12px;
    padding-left: 40px;
    padding-right: 20px;
}
#footer_gnb > ul.left > li > a{
    color: gray;
}
#footer_gnb > ul.left > li > a:hover{
    color: white;
    font :bold;
}
.my_image{
    width: 950px;
    height: 550px;
}
    
    
